@model PugApp.Models.Student
@*Edit for students*@

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>  @*Form for Edit Page*@

@using (Html.BeginForm())
{
	@Html.HiddenFor(s => s.ID);

	@Html.LabelFor(s => s.LastName, "Last Name");
	@Html.TextBoxFor(s => s.LastName);

	@Html.LabelFor(s => s.LastName, "First and Middle Names");
	@Html.TextBoxFor(s => s.FirstMidName);

	<button type="submit">Update</button>
}